<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>株式会社 Omaid Co. ,Ltd</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="/img/icon/favicon.png" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@600;700&family=Ubuntu:wght@400;500&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
    {{>navbar}}
    <div class="container my-5">
        <div class="owl-carousel car-carousel">
            {{#each car.images}}
            <div> <img src="/{{this}}" class="img-fluid" alt=""></div>
            {{/each}}
        </div>
    </div>
    <div class="container">
        <h1>{{car.make}} - {{car.model}}</h1>
        <h2 class="text-primary">{{car.title}}</h2>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">

                <table class="table table-light text-center">
                    <tr class="table-primary">
                        <th scope="col">Year</th>
                        <th scope="col">Make</th>
                        <th scope="col">model</th>
                        <th scope="col">Odometer Reading</th>
                    </tr>

                    <tbody>
                        <tr>
                            <td>{{car.year}}</td>
                            <td>{{car.make}}</td>
                            <td>{{car.model}}</td>
                            <td>{{car.odometer}}</td>
                        </tr>

                        <tr class="table-primary">
                            <th scope="col">Exterior Color</th>
                            <th scope="col">Interior Color</th>
                            <th scope="col">Trim</th>
                            <th scope="col">Wheels</th>
                        </tr>

                        <tr>
                            <td style="background-color:{{car.exteriorcolor}} !important;"></td>
                            <td style="background-color:{{car.interiorcolor}} ;"></td>
                            <td>{{car.trim}}</td>
                            <td>{{car.wheels}}</td>
                        </tr>
                        <tr class="table-primary">
                            <th scope="col">title</th>
                            <th scope="col">Engine Size</th>
                            <th scope="col">Transmission</th>
                            <th scope="col">Drive Train</th>
                        </tr>
                        <tr>
                            <td>{{car.title}}</td>
                            <td>{{car.enginesize}}</td>
                            <td>{{car.transmission}}</td>
                            <td>{{car.drivetrain}}</td>
                        </tr>
                    </tbody>
                </table>

                <p>Details : {{car.detail}}</p>
            </div>
            <div class="col-12 col-md-4">
                <h3>for inquiry please fill in</h3>
                <form action="/usedcars" method="post">
                    <div class="mb-3">
                        <label for="name" class="form-label">name</label>
                        <input type="text" name="name" class="form-control" required id="name">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">name</label>
                        <input type="email" name="email" class="form-control" required id="email">
                    </div>
                    <div class="mb-3">
                        <label for="phone" class="form-label">Phone</label>
                        <input type="number" name="phone" class="form-control" required id="phone">
                    </div>
                    <input type="hidden" name="carid" value="{{car._id}}">
                    <input type="hidden" name="carmodel" value="{{car.model}}">
                    <input type="hidden" name="carmake" value="{{car.make}}">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>


    {{>footer}}