<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>OXR | Sell</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <meta name="theme-color" content="#94C947">
    <!-- Favicon -->
    <link href="/img/icon/favicon.png" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@600;700&family=Ubuntu:wght@400;500&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
    {{>navbar}}

    <div class="container mt-5 position-relative">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary position-absolute top-50 end-0 translate-middle-y"
            data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Add Vehicle
        </button>

        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="/usedcars/add" enctype="multipart/form-data" method="post">
                            <div class="mb-3">
                                <label for="Year" class="form-label">Manufucture Year</label>
                                <input type="number" required name="year" class="form-control" id="year"
                                    placeholder="Please type the Manufacture Year">
                            </div>
                            <div class="mb-3">
                                <label for="make" class="form-label">Make</label>
                                <input type="text" required name="make" class="form-control" id="make"
                                    placeholder="Please type thes Manufacture Year">
                            </div>
                            <div class="mb-3">
                                <label for="model" class="form-label">Model</label>
                                <input type="text" required name="model" class="form-control" id="modle"
                                    placeholder="Please set the model of the vehicle">
                            </div>
                            <div class="mb-3">
                                <label for="odometer" class="form-label">Odometer Reading</label>
                                <input type="text" required name="odometer" class="form-control" id="odometer"
                                    placeholder="how money killometers the vehicle has been driven">
                            </div>
                            <div class="mb-3 row">

                                <div class="col-auto">
                                    <label for="exterier" class="form-label">exterier Color</label>
                                    <input type="color" name="exteriorcolor" class="form-control form-control-color"
                                        id="exterier">
                                </div>
                                <div class="col-auto">
                                    <label for="interior" class="form-label">interier Color</label>
                                    <input type="color" name="interiercolor" class="form-control form-control-color"
                                        id="interior">
                                </div>

                            </div>
                            <div class="mb-3">
                                <label for="trim" class="form-label">Trim / Class</label>
                                <input type="text" required name="trim" class="form-control" id="trim"
                                    placeholder="Sport / economy / business / ">
                            </div>
                            <div class="mb-3">
                                <label for="wheel" class="form-label">Wheel</label>
                                <input type="text" required name="wheel" class="form-control" id="wheel"
                                    placeholder="wheels manufacturer  ">
                            </div>
                            <div class="mb-3">
                                <label for="title" class="form-label">title</label>
                                <input type="text" required name="title" class="form-control" id="title"
                                    placeholder="Rebuild / new / used">
                            </div>
                            <div class="mb-3">
                                <label for="enginesize" class="form-label">Engine Size</label>
                                <input type="text" required name="enginesize" class="form-control" id="enginesize"
                                    placeholder="2litter">
                            </div>
                            <div class="mb-3">
                                <label for="transmission" class="form-label">transmission</label>
                                <input type="text" required name="transmission" class="form-control" id="transmission"
                                    placeholder="Auto / Manual">
                            </div>
                            <div class="mb-3">
                                <label for="drivetrain" class="form-label">Drive Train</label>
                                <input type="text" required name="drivetrain" class="form-control" id="drivetrain"
                                    placeholder="4 x 4">
                            </div>
                            <div class="mb-3">
                                <label for="price" class="form-label">Price</label>
                                <input type="number" required name="price" class="form-control" id="price"
                                    placeholder="price in Dolor">
                            </div>
                            <div class="mb-3">
                                <label for="images" class="form-label">Images</label>
                                <input class="form-control" name="images" type="file" id="images" multiple>
                            </div>

                            <div class="mb-3">
                                <label for="detail" class="form-label">detail</label>
                                <textarea class="form-control" required name="detail" id="detail" rows="2"></textarea>
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submet" class="btn btn-primary">Register</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="album py-5 bg-light">
        <div class="container">


            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                {{#each data}}

                <div class="col wow fadeInUp" data-wow-delay="0.{{@index}}s">

                    <div class="card shadow-sm">
                        <img src="/{{images.[0]}}" class="img-fluid" alt="">
                        <div class="card-body">
                            <h2>{{model}} Year {{year}}</h2>
                            <p class="">Manufacturer: {{make}}</p>
                            <p>Odometer Reading: {{odometer}}</p>


                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="/usedcars/{{_id}}" class="btn btn-sm btn-outline-primary">View</a>

                                </div>
                                <small class="text-muted">Price: {{price}}</small>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}


            </div>
        </div>
    </div>


    {{>footer}}